<footer id="colophon" class="site-footer">

<div class="row my-3 pb-3 outer_container">
  <div class="container-fluid my-1 mr-5">
    <div class="box pl-5">
    <div class="out_title mt-4 ml-3">
      CONNECTED WITH OUR UPDATES & SUBSCRIBE!
    </div>
    <div class="out_content mt-1 ml-3">
      Receive 20% off for your first shopping and get extra offer
    </div>
  </div>


  <div class="box1 pt-4 col-md-7 col-12 col-sm-12">
    <div class="inp_ut pl-5 box2 col-lg-12">
      <input class="tnp-email" type="email" name="ne" value required>
    </div>

   <div class="box1 col-md-7 pl-5 col-12 col-sm-12">
    <div class="bu_tton">
      <input class="tnp-submit submit-button" value="Subscribe" type="submit">
    </div>
  </div>
  </div>
</div>
</div>



<div class="row mt-5 container">

  <div id="1" class="col-md-3 container-fluid pl-5">
    <div class="title-number mx-2 my-2 pb-1">
      CONTACT US
    </div>

      <div class="add_ress py-3">
        <i class="fa fa-map-marker pr-3"></i>
        60, 29th Street, San Fransisco, CA 94110, Union Centre, United States Of America
      </div>
      <div class="pho_ne py-3">
        <i class="fa fa-phone pr-3"></i>
          91+ 123 456 789 &nbsp; &nbsp; 91+ 123 456 789
        </div>
        <div class="ema_il py-3">
          <i class="fa fa-envelope pr-3"></i>
          <a href="#">ShopVolly@website.com</a>
        </div>
      </div>


      <div id="2" class="mx-auto my-auto col-md-3 container-fluid pl-5">
        <div class="title-number my-2 pb-1">
          FIND IT FAST
        </div>
        <div class="sp_an static-links-list">
          <span> Products Brands </span>
          <span> Seller FAQS </span>
          <span> Responsive Design </span>
          <span> Template Services </span>
          <span> Website Development </span>
          <span> E-Commerce Stores </span>
        </div>
      </div>


      <div id="3" class="mx-auto my-auto col-md-3 container-fluid pl-5">
        <div class="title-number pb-1 my-2">
          INFORMATION
        </div>
        <div class="static-links-list">
          <span>My Account </span>
          <span> Special Products </span>
          <span> Top Rated Products </span>
          <span> Term and Conditions </span>
          <span> Featured </span>
          <span> Orders </span>
        </div>
    </div>


    <div id="4" class="mx-auto my-auto col-md-3 container-fluid pl-5">
      <div class="title-number pb-1 my-2">
        QUICK LINKS
      </div>
      <div class="static-links-list">
        <span>Delivery Information </span>
        <span> Installation Service </span>
        <span> Track My Record </span>
        <span> Installation Services </span>
        <span> Product Information </span>
        <span> About Us </span>
      </div>
      </div>
  </div>



<div class="row mt-4 ml-lg-5">
  <div id="one" class="col-9 col-sm-5 col-md-4 col-lg-2 mx-sm-5 px-2 mx-auto my-2 service_outer">
    <div class="symbol">
      <i style="color: #ffffff; background-color: #8d88b4;" aria-hidden="true" class="mr-2 fa fa-rocket">
      </i>
    </div>

    <div class="service-title" style="color: #000000; ">FREE SHIPPING</div>
    <div class="service-outer-text" style="color: #949494; ">On order over $49.00</div>
</div>

  <div id="two" class="col-9 col-sm-5 col-md-4 col-lg-2 mx-sm-5 px-2 mx-auto my-2 service_outer">
    <div class="symbol">
      <i style="color: #ffffff; background-color: #8d88b4; " class="mr-2 fa fa-money">
      </i>
    </div>
    <div class="service-title" style="color: #000000; ">MONEY GUARANTEE</div>
    <div class="service-outer-text" style="color: #949494; ">30 days back</div>
  </div>


  <div id="three" class="col-9 col-sm-5 col-md-4 col-lg-2 mx-sm-5 px-2 mx-auto my-2 service_outer">
    <div class="symbol">

            <i style="color: #ffffff; background-color: #8d88b4; " class="mr-2 fa fa-credit-card-alt">
            </i>
            </div>

    <div class="service-title" style="color: #000000; ">PAYMENT METHOD</div>
    <div class="service-outer-text" style="color: #949494; ">Secure System</div>
  </div>


  <div id="four" class="col-9 col-sm-6 col-xx-1 col-md-4 col-lg-2 mx-sm-5 px-2 mx-auto my-2 service_outer">
    <div class="symbol ">
      <i style="color: #ffffff; background-color: #8d88b4;" class="mr-2 fa fa-headphones" aria-hidden="true"></i>
      </div>

      <div class="service-title" style="color: #000000; ">ONLINE SUPPORT</div>
    <div class="service-outer-text" style="color: #949494; ">24 hours a day</div>
  </div>

</div>





<div class="footer-bottom">
  <div class="site-info"> Copyright &copy; 2021 TemplateMela, All Rights Reserved.</div>
  <aside id="accepted_payment_methods-2" class="widget widget_accepted_payment_methods">
    <h3 class="widget-title">Accepted Payment Methods</h3>
    <ul class="accepted-payment-methods justify-content-center">
      <li class="american-express"><span>Americian Express</span></li>
      <li class="maestro"><span>Maestro</span></li>
      <li class="mastercard"><span>MasterCard</span></li>
      <li class="paypal"><span>PayPal</span></li>
    </ul>
  </aside>
</div>
</footer>
