<!-- <p>cart works!</p> -->
<app-login-header></app-login-header>
<app-menubar></app-menubar>

<div class="account-title">
  <div class="text">
    <h1 class="text">Cart</h1>
    <div class="text-inside">
      <a href="/home" >Home</a>
      / {{title}}
    </div>
  </div>
</div>


<div class="cart-table">
  <form>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>remove</td>
          <td>image</td>
          <td>productName</td>
          <td>price</td>
          <td>QTY:</td>
          <td>$100.00</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<app-footer></app-footer>
