<app-login-header></app-login-header>
<!-- <p>contact-us works!</p> -->
<app-menubar></app-menubar>

<div class="account-title">
  <div class="text">
    <h1>Contact Us</h1>
    <div class="text-inside">
      <a href="/home" >Home</a>
      / Contact
    </div>
  </div>
</div>


<div class="contact-form">
  <div class="contact-form-inside">
  CONTACT FORM
</div>
</div>

<div class="row mb-5">


  <div class="col-md-7 ">
    <div class="contactform">

    <div class="row ml-0 pl-0">
      <form [formGroup]="profileForm" #ngForm="ngForm">
        <div class="col-lg-6">
          <div class="form1">
            <div class="name">
              <label>Your Name (required)</label><br>
              <input type="text" formControlName="name">
            </div>
            <div class="name">
              <label>Your Email (required)</label><br>
              <input type="text" formControlName="email">
            </div>
            <div class="name">
              <label>Subject</label><br>
              <input type="text" formControlName="subject">
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="name">
            <label>Your Message</label><br>
            <textarea type="text" formControlName="message"></textarea>
          </div>
        </div>

        <button (click)="sendDetails()" (click)="saveForm()" class="ml-5">Send</button>

      </form>
    </div>
    </div>
    </div>

  <div class="col-md-3 right-side-box">

    <div class="SMC-title">
      SMC Computer Pvt. Ltd.
    </div>
    <div class="description">
      We possess within us two minds.
    </div>

    <div class="all-three">
      <div class="address">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="address-content">
          60, 29th Street #343, San Francisco, CA 94110, United States of America
        </div>
      </div>

      <div class="address">
        <div class="icon">
          <i class="fa fa-phone"></i>
        </div>
        <div class="address-content">
          +91 1234567898
          +91 178 982 3456
        </div>
      </div>

      <div class="address">
        <div class="icon">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="address-content">
        demo@example.com
        Monday – Friday 10 AM – 8 PM
        </div>
      </div>
    </div>



  </div>


  </div>

<app-footer></app-footer>

