<!-- <p>shop works!</p> -->

<app-login-header></app-login-header>
<app-menubar></app-menubar>

<div class="account-title">
  <div class="text">
    <h1 class="text">Shop</h1>
    <div class="text text-inside">
      <a href="/home" >Home</a>
      / {{title}}
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-3">
    <div class="categories">
      <div class="product-list">
        <div class="">
          <h3 class="title">PRODUCT CATEGORIES</h3>
        </div>
        <ul class="product-categories">
          <li class="cat-item">
            <i class="pull-right cat fa fa-plus"></i>
            <i class="pull-left cat fa fa-arrow-right"></i>
            <a class="cat" href="cabinetery">Cabinetery</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a class="cat" href="cabinetery">Dining Set</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a href="cabinetery" class="cat">Drawer and Dresser</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a href="cabinetery" class="cat">Fainting Couch</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a href="cabinetery" class="cat">Kitchen Cabinet</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a href="cabinetery" class="cat">Seating</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a href="cabinetery" class="cat">Sleeping and lying</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a href="cabinetery" class="cat">Storage</a>
          </li>
          <li class="cat-item">
            <i class="pull-left fa fa-arrow-right"></i>
            <a href="cabinetery" class="cat">Tables</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9 pr-lg-5 my-3 my-lg-0 px-3 px-lg-3">
    <p class="content-text">
      There are many variations of passages of Loren Gypsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words which don’t look even slightly believable. If you are going to use a passage of Loren Gypsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.
    </p>
    <div class="toolbar d-flex">
      <nav class="list-grid">
        <a href="#"></a>
        <i class="fa grid-i fa-th mx-3"></i>
        <a href="#"></a>
        <i class="fa grid-i-ul fa-list-ul mx-3"></i>
      </nav>
      <p class="pagination-1">Showing {{pageSize}} of 18 results</p>
      <div class="sorting-div">
      <form class="sorting">
        <select class="options ">
          <option value="menu-bar" selected="selected">Default Sorting</option>
          <option value="rating">Sort by average rating</option>
          <option value="date">Sort by latest</option>
          <option value="price">Sort by price</option>
        </select>
      </form>
    </div>
    </div>

    <div class="products">
      <div *ngFor="let ps of products | paginate: { itemsPerPage:pageSize , currentPage:p}" class="col-md-4">
      <!-- <div *ngFor="let ps of products" class="col-md-4"> -->

        <div id="" class="pl-lg-0 col-lg-12 pb-5 pl-0 pt-5 col-12 col-md-12">
          <div class="">
            <span class="pl-5 pl-lg-0">
              <a routerLink="/shopDetails" class="" (click)="onSpecificProduct(ps.id)">
                <img class="cat-image" [src]="ps.imageUrl" alt="">
              </a>
            </span>
            <div class="content-block px-lg-0 px-5">
              <span>
               <div class="stars" title="Rated 3.00 out of 5">

                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill"><i class="fa fa-star"></i></span><i class="fa fa-star"></i>
                  </span>
                </ng-template>


                <ngb-rating [max]="5" [rate]="ps.rating" [starTemplate]="t" [readonly]="true">
                </ngb-rating>
                </div>
              </span>
                <a routerLink="/shopDetails" class="" (click)="onSpecificProduct(ps.id)">
                  <h3 class="product-name">
                    {{ps.productName}}
                  </h3>
                </a>
                <div class="price">
                  <span class="real-price">
                    ${{ps.price}}.00
                  </span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-div justify-content-center">
<pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>

      </div>

    </div>
  </div>


<app-footer></app-footer>
